@import './variables.scss';
@import './typography.scss';
@import '../../../node_modules/normalize.css/normalize.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // sets what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: $background;
  font-weight: 400;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

* {

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
