@import '../../assets/scss/variables.scss';

%btn-placeholder {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: .3rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem;
  width: 100%;
  cursor: pointer;
}

.btn {
  @extend %btn-placeholder;

   &__primary {
    background: $primary-color;
    color: $background;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
   }

   &__secondary {
    border-color: $primary-color;
   }
}