@import '../../assets/scss/variables.scss';

.dashboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 5rem;

  &__nav-list {
    list-style: none;
  }

  &__nav-item {
    display: inline;
  }
}