@import '../../assets/scss/variables.scss';

.form-input {
  display: flex;
  flex-direction: column;

  .light {
   font-weight: 400;
   color: transparentize($secondary-color, .6);
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 700;
    color: $secondary-color;

    &--right {
      float: right;
      margin-right: .3rem;
      font-weight: 600;
      cursor: pointer;
      color: $secondary-color;
    }
  }

  &__input {
    margin:  1.5rem 0;
  }

  .input {
    padding: 1.5rem;
    border-radius: .3rem;
    border: 1px solid transparentize($secondary-color, 0.85);
    font-size: 1.4rem;
    width: 100%;
    color: transparentize($secondary-color, 0.2);

    &:focus {
      border: .1rem solid $primary-color;
    }

    &__error, &__error:focus {
      border: 1px solid $error-color;
    }

    &__error--message {
      color: $error-color;
      font-size: 1.4rem;
    }
  }

  &__bottom {
    float: right;
    margin: 1rem 0 2rem;
    font-size: 1.4rem;
    color: transparentize($secondary-color, .5);
  }
}
