@import '../../../assets/scss/variables.scss';

.account {
  &__change-email-text {
    color: $primary-color;
    position: absolute;
    top: 50%;
    right: -35%;
    font-size: 1.2rem;
  }

  &__header {
    font-weight: 400;
    margin: 2rem 0;
  }

  &__form {
    margin-top: 2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    width: 45%;
    position: relative;
  }

  &__button {
    margin-top: 3rem;
  }

  &__company {
    font-weight: 400;
    font-size: 1.8rem;
    padding: 4rem 0 2rem;
  }
}
