@import '../../assets/scss/variables.scss';
.checkbox {
  &__input {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px !important;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;

    &:active, &:checked:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
      background-color: #2cc973;
      border: 1px solid #2cc973;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
      color: #99a1a7;

      &:after {
        font-family: FontAwesome;
        content: "\f00c";
        font-size: 10px;
        font-weight: 100;
        position: absolute;
        top: 0px;
        left: 1px;
        color: #ffffff;
      }
    }
  }
}
