@import '../../../assets/scss/variables.scss';

.notification {
  &__header {
    font-weight: 400;
    margin: 2rem 0;
  }

  &__form {
    margin-top: 2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    margin-top: 3rem;
  }
}
