@import '../../assets/scss/mixins.scss';

.signup {
  @include centerDiv(55%, 50%);
  margin-bottom: 5rem;
  width: 34.5rem;

  &__title {
    padding: .5rem 0;
    font-weight: 400;
  }

  &__sub-title {
    padding: 0 0 3rem 0;
  }

  @media only screen and (max-width: 1024px)  {
    top: 40%;
    width: 50%;
  }

  @media only screen and (max-width: 600px)  {
    top: 50%;
    width: 80%;
  }

  @media only screen and (max-width: 360px)  {
    top: 70%;
    width: 80%;
  }

  footer {
    text-align: center;
    padding: 2rem;
  }
}